/* CSS */

html, body{
	margin: 0px; padding: 0px;
}

.tennkiyohou{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 500px;
	margin:  0 auto 0 auto;
}

.mino{  	
	grid-column: 1;
	margin: 4px 4px 4px 4px;
	background-color: #42F049;
}
#basho1, #basho2{
	margin:  0 auto 0 auto;
	text-align: center;
}

.hida{
	grid-column: 2;	
	margin: 4px 4px 4px 4px;
	background-color: #38A2F0;
}

.mino, .hida{
	border: 1px solid black
}

.mino, .hida{
	text-decoration: none;
}

img{
	width: 200px;
	height: 200px;
}

h1, li{
	color: white;
}
