/* CSS */

html, body{
	width: 500px;
	margin: 0 auto 0 auto;
	background-color: dimgrey;
}
#sentou{
	display: grid;
	width: 500px;
	height: 10px;
	margin: 0 auto 0 auto;
	grid-template-rows: 40px 20px 30px 30px 180px 50px 80px;
	color: white;
}
#title{
	border: solid white;
	grid-row: 1;
	margin-bottom: -20px;
	background-color: black;
}
#status1{
	border: solid white;
	grid-row: 3;
	display: flex;
	background-color: black;
}
#status2{
	border: solid white;
	grid-row: 4;
	display: flex;
	background-color: black;
}
#status1 p{
	margin: 2px;
	padding: 0 0 0 20px;
}
#status1 h3{
	border-left: 4px solid white;
	margin: 0;
	padding: 0 0 0 0px;
}
#status2 h3{
	border-left: 4px solid white;
	margin: 0;
	padding: 0 0 0 0px;
}
#status2 p{
	margin: 2px;
	padding: 0 0 0 20px;
}
#battle{
	border: solid white;
	grid-row: 5;
	text-align: center; /*画像を出すようになったらここは変える*/
	background-color: black;
}
#teki{
	margin: auto auto;
}
#text{
	border: solid white;
	grid-row: 6;
	background-color: black;
}
#text1{
	margin: 0 auto 0 5px;
}
#button{
	border: solid white;
	grid-row: 7;
	display: flex;
	background-color: black;
}
 button{
	width: 60px;
	height: 30px;
	margin: auto auto;
}