/* CSS */

html, body{
	width: 400px;
	margin: 0 auto 0 auto;
	background-color: dimgrey;
}

#sentou{
	display: grid;
	width: 400px;
	height: 1fr;
	margin: 0 auto 0 auto;
	grid-template-rows: 60px 30px 30px 30px 30px 30px 180px 60px 80px 110px 80px 30px 50px 50px 50px 50px;
	color: white;
}

#title{
	border: solid white;
	grid-row: 1;
	background-color: black;
}

#title h1{
	margin: auto 0 auto 0;
}

/*status画面----------------------------------------------------*/
#status1{
	border: solid white;
	display: flex;
	grid-row: 2;
	background-color: black;
}

#status2{
	border: solid white;
	grid-row: 3;
	display: flex;
	background-color: black;
}

#status3{
	border: solid white;
	grid-row: 4;
	display: flex;
	background-color: black;
}

#status4{
	border: solid white;
	grid-row: 5;
	display: flex;
	background-color: black;
}

#money{
	border: solid white;
	grid-row: 6;
	display: flex;
	background-color: black;
}

#status1 p{
	margin: 2px;
	padding: 0 0 0 20px;
}

#status2 p{
	margin: 2px;
	padding: 0 0 0 20px;
}

#status3 p{
	margin: 2px;
	padding: 0 0 0 20px;
}

#status4 p{
	margin: 2px;
	padding: 0 0 0 20px;
}

#money p{
	margin: 2px;
	padding: 0 0 0 20px;
}

#status1 h3{
	margin: 0;
	padding: 0 0 0 4px;
}

#status2 h3{
	margin: 0;
	padding: 0 0 0 4px;
}

#status3 h3{
	margin: 0;
	padding: 0 0 0 4px;
}

#status4 h3{
	margin: 0;
	padding: 0 0 0 4px;
}

#money h3{
	margin: 0;
	padding: 0 0 0 4px;
}

.def{
	border-left: solid white;
}

/*battle画面-----------------------------------------------------------*/
#battle{
	border: solid white;
	grid-row: 7;
	text-align: center;
	background-color: black;
}

#teki{
	margin: auto auto;
}

#text{
	font-size: 13px;
	border: solid white;
	grid-row: 8;
	background-color: black;
}

#text1, #text2{
	margin: 0 auto 0 5px;
}

#button{
	border: solid white;
	grid-row: 9;
	display: flex;
	background-color: black;
}

button{
	width: 90px;
	height: 45px;
	margin: auto auto;
}

/*menu画面---------------------------------------------------------*/

#menu{
	border: solid white;
	grid-row: 10;
	/* display: flex; */
	background-color: black;
}

#menubtn1, #menubtn2, #menubtn3, #menubtn4{
	width: 120px;
	height: 30px;
	margin: 5px 0px 5px 5px;
}

#menu1{
	display: flex;
}

#menutext1, #menutext2{
	margin: 10px auto 0 auto;
}

#menu2{
	display: flex;
}

#menutext3, #menutext4{
	margin: 10px auto 0 auto;
}

#stage{
	border: solid white;
	grid-row: 11;
	display: flex;
	background-color: black;
}

/*grid-row: 12;はゲーム画面とのスペースを空けるため*/

#savedata{
	grid-row: 13;
}

#save{
	width: 80px;
	height: 40px;
	font-size: 11.8px;
	margin: 0 0 10px 0;
}

#data1, #data2, #data3{
	width: 400px;
	border: solid white;
	display: flex;
	background-color: black;
	padding: 10px 0 10px 0;
}

#road1, #road2, #road3{
	font-size: 9px;
	width: 60px;
	height: 30px;
	margin-right: 8px;
}

/* PC用セット----------------------------------------------------------*/
@media screen and (min-width: 600px) {

html, body{
	width: 600px;
}

#sentou{	
	width: 600px;
	grid-template-rows: 60px 30px 30px 30px 30px 30px 180px 60px 80px 110px 80px 30px 50px 50px 50px 50px;
}

#status4{
	grid-row: 5;
}

#money{
	grid-row: 6;
}

#battle{
	grid-row: 7;
}

#text{
	font-size: 16px;
	grid-row: 8;
}

#button{
	grid-row: 9;
}

button{
	width: 120px;
	height: 60px;
	margin: auto auto;
	font-size: 18px;
}

#menu{
	grid-row: 10;
}

#stage{
	grid-row: 11;
}

/*grid-row: 12;はゲーム画面とのスペースを空けるため*/

#savedata{
	grid-row: 13;
}

#save{
	width: 100px;
	height: 50px;
	font-size: 13.8px;
}

#data1, #data2, #data3{
	width: 600px;
}

#road1, #road2, #road3{
	font-size: 11px;
	width: 80px;
	height: 40px;
}

}